<div align="center">
  <div class="row">
    <div class="col-md-4 col-sm-1">
    </div>
    <div (click)="visualizarCalendario()" class="col-md-2 col-sm-3 divs div1">
      <div class="icon">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="span">
        <a>Agendamentos</a>
      </div>
    </div>
    <div (click)="visualizarGrafico()" class="col-md-2 col-sm-5 divs div2">
      <div class="icon">
        <i class="fa fa-pie-chart"></i>
      </div>
      <div class="span">
        <a>Gráficos</a>
      </div>
    </div>
  </div>
  <div class="back-white" *ngIf="controlaCalendario">
    <app-calendario></app-calendario>
  </div>
  <div class="back-white" *ngIf="controlaGrafico">
      <app-grafico></app-grafico>
    </div>

</div>