.row{
    margin-right: 0px;
    margin-left: 0px;
 }
 .divs{
     height: 150px;
     padding:10px;
 }
 .div1{
     background: #2cb5e8;
     cursor: pointer;
 }
.div2{
    background: #21CD91;
    cursor: pointer;
}
.span{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.icon{
    color:#fff;
    text-align:center;
    font-size:40px;
}
a{
    text-decoration: none;
    color:#fff;
}
.back-white{
    color: white;
}