<div class="row alinhamento-comp">
  <div class="col-md-3 col-sm-1">

  </div>
  <div class="col-md-2 col-sm-3 divs div1">
    <div class="icon">
      <i class="fa fa-address-book"></i>
    </div>
    <div class="span">Agenda</div>
  </div>
  <div class="col-md-2 col-sm-3 divs div2">
    <div class="icon">
      <i class="fa fa-question-circle"></i>
    </div>
    <div class="span">FAQ</div>
  </div>
  <div class="col-md-2 col-sm-3 divs div3">
    <div class="icon">
      <i class="fa fa-cc-visa"></i>
    </div>
    <div class="span">Financeiro</div>
  </div>
</div>