<div class="row">
  <div class="col-md-3 col-sm-1">

  </div>
  <div (click)="router.navigate(['home/pacientes']);" [@divs]="currentState" class="divs-pointer col-md-2 col-sm-3 divs div1">
    <div class="icon">
      <i class="fa fa-user-md"></i>
    </div>
    <div class="span"><a>Módulo de Pacientes</a></div>
  </div>
  <div (click)="router.navigate(['home/administrativo']);" [@divs]="currentState" class="divs-pointer col-md-2 col-sm-5 divs div2">
    <div class="icon">
      <i class="fa fa-address-book"></i>
    </div>
    <div class="span"><a>Módulo Administrativo</a></div>
  </div>
  <div (click)="router.navigate(['home/financeiro']);" [@divs]="currentState" class="divs-pointer col-md-2 col-sm-5 divs div3">
    <div class="icon">
      <i class="fa fa-cc-visa"></i>
    </div>
    <div class="span"><a>Módulo Financeiro</a></div>
  </div>
</div>