<div id="espaco-menu" class="row">
  <div class="col-md-3 col-sm-1">

  </div>
  <div (click)="router.navigate(['home/pacientes']);" class="fadeInUp divs-pointer col-md-2 col-sm-12 divs div1">
    <div class="icon">
      <i class="fa fa-user-md"></i>
    </div>
    <div class="span"><a>Módulo de Pacientes</a></div>
  </div>
  <div (click)="router.navigate(['home/administrativo']);" class="fadeInUp divs-pointer col-md-2 col-sm-12 divs div2">
    <div class="icon">
      <i class="fa fa-address-book"></i>
    </div>
    <div class="span"><a>Módulo Administrativo</a></div>
  </div>  
  <div (click)="router.navigate(['home/financeiro']);" class="fadeInUp divs-pointer col-md-2 col-sm-12 divs div3">
    <div class="icon">
      <i class="fa fa-cc-visa"></i>
    </div>
    <div class="span"><a>Módulo Financeiro</a></div>
  </div>
</div>