<div class="barra-central">
    <div class="fadeInLeft row">
        <div class="col-sm-3">
        </div>
        <div class="col-12 col-md-3 col-sm-4 titulo">
            Bem Vindo ao Sistema Clínica Sorrisus
        </div>
        <div class="col-12 col-md-3 col-sm-5">
            <ul>
                <li class="titulo-ul">LINKS RÁPIDOS</li>
                <li class="li-pointer" (click)="router.navigate(['home/pacientes']);" id="pacientes">
                    <a>Pacientes</a>
                </li>
                <li class="li-pointer" (click)="router.navigate(['home/administrativo']);" id="administrativo">
                    <a>Administrativo</a>
                </li>
                <li class="li-pointer" (click)="router.navigate(['home/financeiro']);" id="financeiro">
                    <a>Financeiro</a>
                </li>
            </ul>
        </div>

    </div>
</div>