<div class="col-md-12 col-sm-12 footer">
    <footer class="page-footer font-small blue pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="textos-footer col-md-6 mt-md-0 mt-3">
            <a routerLink="/home">
        
            </a>
            <p>Clínica Sorrisus</p>
            <p>Luan Sousa.</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="textos-footer col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a>Em Construção</a>
              </li>
              <li>
                <a>Em Construção</a>
              </li>
              <li>
                <a>Em Construção</a>
              </li>
              <li>
                <a>Em Construção</a>
              </li>
            </ul>
  
          </div>
          <div class="textos-footer col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Luan Sousa</h5>
            <a href="https://br.linkedin.com/in/luan2850">
            </a>
          </div>
        </div>
      </div>
      <div class="textos-footer footer-copyright text-center py-3"><a id="tv-cultura-link" href="https://br.linkedin.com/in/luan2850">
        Luan Sousa</a>
      </div>
    </footer>
  </div>