<mat-card class="card-color">
  <mat-card-content>
    <h4 class="titulo-pacientes">Módulo de Pacientes</h4>
    <mat-tab-group class="content-color">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon class="icons">add_circle</mat-icon>
          <span class="titulos-abas">Cadastro</span>
        </ng-template>
        <div class="demo-tab-content">
        <app-cadastro></app-cadastro>
        </div>
      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>attach_file</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>  
      </mat-tab>
      <mat-tab label="Tab 3" disabled>
        <ng-template mat-tab-label>
          <mat-icon>block</mat-icon>
        </ng-template>
        No content  
      </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>