<br/>
<br/>
<form #cadastroForm="ngForm">
  <div align="center">
    <div class="form col-md-8 col-sm-12" align="left">
      <div class="col-md-6 col-sm-12" align="left">
        <span class="titulos">Dados Pessoais</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8 col-sm-12 espaco-entrecampos" align="left">
          <div id="campo-nome">
            <label>Nome Completo *</label>
            <input type="text" placeholder="Luan Sousa" [(ngModel)]="paciente.nomeCompleto" (keypress)="validacoes.validarApenasLetrasEspaco($event)"
              name="nomeCompleto" class="form-control" required>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 espaco-entrecampos" align="left">
          <div id="campo-nascimento">
            <label>Data de Nascimento *
            </label>
            <input type="date" [(ngModel)]="paciente.dataNascimento" name="dataNascimento" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="campo-sexo" class="col-md-5 col-sm-5" align="left">
          <label>
            Sexo *
          </label><br/>
          <mat-button-toggle-group [(ngModel)]="paciente.sexo" name="sexo">
            <mat-button-toggle #flagMasculino value="M">Masculino</mat-button-toggle>
            <mat-button-toggle #flagFeminino value="F">Feminino</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-md-3 col-sm-5 espaco-entrecampos" align="left">
          <label>
            CPF *
          </label>
          <input type="text" [(ngModel)]="paciente.cpf" minlength="11" maxlength="14" name="cpf" (keypress)="mascararCpf($event)" (onfocus)="focusoutCpf = false;"
            (focusout)="validarCpf();focusoutCpf = true;" placeholder="037.191.200-88" pattern="^[0-9]*$" class="form-control"
            required>
          <mat-error *ngIf="focusoutCpf && !situacaoCpf">O CPF é inválido</mat-error>
        </div>
        <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
          <label>Profissão *
          </label>
          <input type="text" placeholder="Desenvolvedor" (keypress)="validacoes.validarApenasLetrasEspaco($event)" [(ngModel)]="paciente.profissao"
            name="profissao" class="form-control" required>

        </div>
      </div>
      <br/>
      <div class="col-md-6 col-sm-12" align="left">
        <span class="titulos">Contato</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 col-sm-12 espaco-entrecampos">
          <label>Telefone Residencial *</label>
          <input type="text" [(ngModel)]="paciente.telefoneResidencial" (keypress)="validarTelefone($event,'F')" maxlength="13" name="telefoneResidencial"
            placeholder="(11)4002-8922" class="form-control" required>
        </div>
        <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
          <label>Celular </label>
          <input type="text" [(ngModel)]="paciente.celular" name="celular" (keypress)="validarTelefone($event,'C')" (focusout)="paciente.celular = validacoes.validarCampoTelefone(paciente.celular, 'C')"
            maxlength="14" placeholder="(11) 94002-8922" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
          <label>E-mail * </label>
          <input type="text" [(ngModel)]="paciente.email" name="email" placeholder="luan2850@gmail.com" (focusout)="paciente.email = validacoes.validarEmail(paciente.email)"
            class="form-control" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-5 espaco-entrecampos" align="left">
          <label>CEP * </label>
          <input type="text" [(ngModel)]="paciente.endereco.cep" #cep="ngModel" name="cep" (focusout)="verificarCep()" placeholder="CEP"
            maxlength="9" pattern="[0-9]{8}|[0-9]{5}-[0-9]{3}" class="form-control" required>
          <mat-error *ngIf="paciente.endereco.cep && cep.invalid">O CEP é inválido</mat-error>
        </div>
        <div class="col-md-7 col-sm-12  espaco-entrecampos">
          <label>Logradouro</label>
          <input type="text" [(ngModel)]="paciente.endereco.logradouro" name="logradouro" class="form-control" disabled>
        </div>
        <div class="col-md-2 col-sm-4 espaco-entrecampos" align="left">
          <label>Número</label>
          <input type="text" [(ngModel)]="paciente.endereco.numero" placeholder="220A" name="numero" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
          <label>Bairro </label>
          <input type="text" [(ngModel)]="paciente.endereco.bairro" name="bairro" class="form-control" disabled>
        </div>
        <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
          <label>Estado</label>
          <input type="text" [(ngModel)]="paciente.endereco.uf" name="estado" class="form-control" disabled>
        </div>
        <div class="col-md-4 col-sm-12 espaco-entrecampos">
          <label>Complemento </label>
          <input type="text" [(ngModel)]="paciente.endereco.complemento" placeholder="Bloco 30 Apto 22" name="complemento" class="form-control">
        </div>
      </div>
      <br/>
      <div class="col-md-6 col-sm-12" align="left">
        <span class="titulos">Dados Adicionais</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2 col-sm-4 espaco-entrecampos" align="left">
          <div>
            <label>Alergia</label>
            <section class="example-section">
              <mat-checkbox id="antibiotico" class="example-margin" name="flagAntibiotico" [(ngModel)]="paciente.dadosClinicos.flagAntibiotico"
                value="ANT">Antibiótico</mat-checkbox>
              <mat-checkbox id="anestesico" class="example-margin" name="flagAnalgesico" [(ngModel)]="paciente.dadosClinicos.flagAnalgesico"
                value="ANA">Anestésico</mat-checkbox>
            </section>
          </div>
        </div>
        <div class="col-md-4 col-sm-5 espaco-entrecampos" align="left">
          <div>
            <label>Qual(ais)? </label>
            <input type="text" [(ngModel)]="paciente.dadosClinicos.alergia" name="alergia" class="form-control">
          </div>
        </div>
        <div class="col-md-2 col-sm-4 espaco-entrecampos" align="left">
          <div>
            <label>Sensibilidade a algum medicamento? </label><br/>
            <mat-button-toggle-group [(ngModel)]="paciente.dadosClinicos.flagSensibilidade" name="flagSensibilidade">
              <mat-button-toggle id="flagSensibilidadeSim" value="S">Sim</mat-button-toggle>
              <mat-button-toggle id="flagSensibilidadeNao" value="N">Não</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="col-md-4 col-sm-5 espaco-entrecampos" align="left">
          <div>
            <label>Qual(ais)? </label>
            <input [disabled]="paciente.dadosClinicos.flagSensibilidade === 'N' || paciente.dadosClinicos.flagSensibilidade === null"
              [(ngModel)]="paciente.dadosClinicos.sensibilidade" name="sensibilidade" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 espaco-entrecampos" align="left">
          <div>
            <label>Sua pressão sanguínea é alta?</label><br/>
            <mat-button-toggle-group [(ngModel)]="paciente.dadosClinicos.flagPressao" name="flagPressao">
              <mat-button-toggle id="flagPressaoSim" value="S">Sim</mat-button-toggle>
              <mat-button-toggle id="flagPressaoNao" value="N">Não</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 espaco-entrecampos" align="left">
          <div>
            <label>Está tomando algum medicamento? </label><br/>
            <mat-button-toggle-group [(ngModel)]="paciente.dadosClinicos.flagMedicamento" name="flagMedicamento">
              <mat-button-toggle id="flagMedicamentoSim" value="S">Sim</mat-button-toggle>
              <mat-button-toggle id="flagMedicamentoNao" value="N">Não</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
          <div>
            <label>Qual(ais)?</label>
            <input [disabled]="paciente.dadosClinicos.flagMedicamento === 'N' || paciente.dadosClinicos.flagMedicamento === null" type="text"
              [(ngModel)]="paciente.dadosClinicos.medicamento" name="medicamento" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 espaco-entrecampos" align="left">
          <div>
            <label>Tem algum problema de saúde?</label><br/>
            <mat-button-toggle-group [(ngModel)]="paciente.dadosClinicos.flagProblemaSaude" name="flagProblemaSaude">
              <mat-button-toggle id="flagProblemaSim" value="S">Sim</mat-button-toggle>
              <mat-button-toggle id="flagProblemaNao" value="N">Não</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
          <div>
            <label>Qual(ais)? </label>
            <input [disabled]="paciente.dadosClinicos.flagProblemaSaude === 'N' || paciente.dadosClinicos.flagProblemaSaude === null"
              type="text" [(ngModel)]="paciente.dadosClinicos.problemaSaude" name="problemaSaude" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 espaco-entrecampos">
          <button type="button" [disabled]="cadastroForm.invalid" (click)="salvarDados()" class="btn btn-success btn-block">{{botao}}</button>
        </div>
        <div *ngIf="pacienteAtualizacao" class="col-md-4 col-sm-6 espaco-entrecampos">
          <button type="button" (click)="deletarPaciente()" class="btn btn-danger btn-block">Deletar</button>
        </div>
      </div>
      <br/>
    </div>
  </div>
</form>