<br/>
<br/>
<form #cadastroForm="ngForm">
   <div align="center">
      <div class="form col-md-8 col-sm-12" align="left">
         <div class="col-md-6 col-sm-12" align="left">
            <span class="titulos">Dados Pessoais</span>
         </div>
         <hr>
         <div class="col-md-8 col-sm-12 espaco-entrecampos" align="left">
            <label>Nome Completo *
            <input type="text" placeholder="Luan Sousa" [(ngModel)]="paciente.nomeCompleto" name="nomeCompleto" class="form-control input-nome" required>
            </label>
         </div>
         <div class="col-md-1 col-sm-12 espaco-entrecampos" align="left">
            <label>Data de Nascimento *
            <input type="date" [(ngModel)]="paciente.dataNascimento" name="dataNascimento" class="form-control" required>
            </label>
         </div>
         <div class="col-md-1 col-sm-12 espaco-entrecampos" align="left">
            <label>
               Sexo
               <mat-radio-group>
                  <mat-radio-button id="flagMasculino" #flagMasculino (click)="verificaFlags(flagMasculino)" value="M">Masculino</mat-radio-button><br/>
                  <mat-radio-button id="flagFeminino"  #flagFeminino (click)="verificaFlags(flagFeminino)" value="F">Feminino</mat-radio-button>
                </mat-radio-group>
            </label>
         </div>
         <div class="col-md-3 col-sm-12 espaco-entrecampos" align="left">
            <label>
               CPF *
               <input type="text" [(ngModel)]="paciente.cpf" maxlength="11" name="cpf" (focusout)="validarCpf(paciente.cpf)" placeholder="03719120088"
               pattern="[0-9]{11}|[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" class="form-control" required>
               <mat-error *ngIf="!situacaoCpf">O CPF é inválido</mat-error>
            </label>
         </div>
         <div class="col-md-8 col-sm-12 espaco-entrecampos" align="left">
          <label>Profissão *
          <input type="text" placeholder="Desenvolvedor" [(ngModel)]="paciente.profissao" name="profissao" class="form-control" required>
          </label>
       </div>
         <br/>
         <div class="col-md-6 col-sm-12" align="left">
            <span class="titulos">Contato</span>
         </div>
         <hr>
         <div class="row">
            <div class="col-md-4 col-sm-12 espaco-entrecampos">
               <label>Telefone Residencial
               <input type="text" [(ngModel)]="paciente.telefoneResidencial" name="telefoneResidencial" placeholder="(11)4002-8922" class="form-control">
               </label>
            </div>
            <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
               <label>Celular
               <input type="text" [(ngModel)]="paciente.celular" name="celular" placeholder="(11) 94002-8922" class="form-control">
               </label>
            </div>
            <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
               <label>E-mail
               <input type="text" [(ngModel)]="paciente.email" name="email" placeholder="luan26@uninove.edu.br" class="form-control">
               </label>
            </div>
         </div>
         <div class="col-md-8 col-sm-12 espaco-entrecampos" align="left">
            <label>
               CEP *
               <input type="text" [(ngModel)]="paciente.endereco.cep" #cep="ngModel" name="cep" (focusout)="verificarCep()" placeholder="CEP"
               maxlength="9" pattern="[0-9]{8}|[0-9]{5}-[0-9]{3}" class="form-control" required>
               <mat-error *ngIf="cep.invalid">O CEP é inválido</mat-error>
            </label>
            <label>Logradouro
            <input type="text" [(ngModel)]="paciente.endereco.logradouro" name="logradouro" class="form-control input-nome" disabled>
            </label>
         </div>
         <div class="row">
            <div class="col-md-2 col-sm-12 espaco-entrecampos" align="left">
               <label>Número
               <input type="text" [(ngModel)]="paciente.endereco.numero" placeholder="220A" name="numero" class="form-control">
               </label>
            </div>
            <div class="col-md-4 col-sm-12 espaco-entrecampos" align="left">
               <label>Bairro
               <input type="text" [(ngModel)]="paciente.endereco.bairro" name="bairro" class="form-control" disabled>
               </label>
            </div>
            <div class="col-md-2 col-sm-12 espaco-entrecampos" align="left">
               <label>Estado
               <input type="text" [(ngModel)]="paciente.endereco.uf" name="estado" class="form-control" disabled>
               </label>
            </div>
         </div>
         <div class="col-md-12 col-sm-12 espaco-entrecampos">
            <label>Complemento
            <input type="text" [(ngModel)]="paciente.endereco.complemento" placeholder="Bloco 30 Apto 22" name="complemento" class="form-control input-nome">
            </label>
         </div>
         <br/>
         <div class="col-md-6 col-sm-12" align="left">
            <span class="titulos">Dados Adicionais</span>
         </div>
         <hr>
         <div class="col-md-1 col-sm-12 espaco-entrecampos" align="left">
            <label>
               Alergia<br/>
               <section class="example-section">
                  <mat-checkbox id="antibiotico" class="example-margin">Antibiótico</mat-checkbox>
                  <mat-checkbox  id="anestesico" class="example-margin">Anestésico</mat-checkbox>
               </section>
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>Qual(ais)?
            <input type="text" [(ngModel)]="paciente.dadosClinicos.alergia" name="alergia" class="form-control">
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>
               Sensibilidade a algum medicamento?<br/>
                <mat-radio-group>
                  <mat-radio-button id="flagSensibilidadeSim" #flagSensibilidadeSim (click)="verificaFlags(flagSensibilidadeSim)" value="S">Sim</mat-radio-button><br/>
                  <mat-radio-button id="flagSensibilidadeNao" #flagSensibilidadeNao (click)="verificaFlags(flagSensibilidadeNao)" value="N">Não</mat-radio-button>
                </mat-radio-group>
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>Qual(ais)?
            <input [disabled]="!flagSensibilidadeSim._checked"  [(ngModel)]="paciente.dadosClinicos.sensibilidade" name="sensibilidade" type="text" class="form-control">
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>
               Sua pressão sanguínea é alta? <br/>
               <mat-radio-group>
                  <mat-radio-button id="flagPressaoSim" #flagPressaoSim (click)="verificaFlags(flagPressaoSim)" value="S">Sim</mat-radio-button><br/>
                  <mat-radio-button id="flagPressaoNao" #flagPressaoNao (click)="verificaFlags(flagPressaoNao)" value="N">Não</mat-radio-button>
                </mat-radio-group>
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>
               Está tomando algum medicamento?<br/>
               <mat-radio-group>
                  <mat-radio-button id="flagMedicamentoSim" #flagMedicamentoSim (click)="verificaFlags(flagMedicamentoSim)" value="S">Sim</mat-radio-button><br/>
                  <mat-radio-button id="flagMedicamentoNao" #flagMedicamentoNao (click)="verificaFlags(flagMedicamentoNao)" value="N">Não</mat-radio-button>
                </mat-radio-group>
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>Qual(ais)?
            <input [disabled]="!flagMedicamentoSim._checked" type="text" [(ngModel)]="paciente.dadosClinicos.medicamento" name="medicamento" class="form-control">
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>
               Tem algum problema de saúde?<br/>
               <mat-radio-group>
                  <mat-radio-button id="flagProblemaSim" #flagProblemaSim (click)="verificaFlags(flagProblemaSim)" value="S">Sim</mat-radio-button><br/>
                  <mat-radio-button id="flagProblemaNao" #flagProblemaNao (click)="verificaFlags(flagProblemaNao)" value="N">Não</mat-radio-button>
                </mat-radio-group>
            </label>
         </div>
         <div class="col-md-6 col-sm-12 espaco-entrecampos" align="left">
            <label>Qual(ais)?
            <input [disabled]="!flagProblemaSim._checked" type="text" [(ngModel)]="paciente.dadosClinicos.problemaSaude" name="problemaSaude" class="form-control">
            </label>
         </div>
         <div class="col-md-2 col-sm-12 espaco-entrecampos">
            <button type="button" [disabled]="cadastroForm.invalid" (click)="salvarDados()" class="btn btn-success btn-block">Salvar</button>
         </div>
         <br/>
      </div>
   </div>
</form>