/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variaveis';
@import '../node_modules/font-awesome/scss/font-awesome';
* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
}
body{
    background-size:cover;
    background-image: url('assets/background.jpg');   
    background-repeat: no-repeat; 
}